<# Add_Class(a:="Directories", d:="This Enum is used to help define the Common Schemas for Directory Entry Manipulation") #>
<# Add_Behaviour(n:="Serialisable") #>
<# Add_Enum(n:="User", v:=1, d:="The Schema of a User") #>
<# Add_Enum(n:="DNSDomain", v:=2, d:="The Schema of a DNS Domain") #>
<# Add_Enum(n:="Group", v:=3, d:="The Schema of a Group") #>
<#@ include file="%TEMPLATES_PATH%\Classes\VB_Enum.tt" #>